html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-color: #f4f7f6;
    color: #202121;
}

h1, h2, h3, h4 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

img {
    display: block;
    width: auto;
    height: auto;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2em;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em 0;
}

.container.social {
    justify-content: center;
}

.container.social a {
    width: 40px;
}

.item {
    width: 100%;
}

.item.last {
    order: 10;
}

@media only screen and (min-width: 800px) {
    .item {
        width: 48%;
    }

    .item.last {
        order: 0;
    }
}

.center-text {
    text-align: center;
}

.main-header {
    font-size: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: .2em;
    margin: 0;
}

.container-hero {
    background-image: url("../img/notary.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #1f2325;
    height: 600px;
    display: flex;
    justify-content: center;
}

.hero {
    background-color: rgba(255, 255, 255, 0.8);
    width: 48%;
    padding: 40px 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.hero .phone {
    font-size: 1.5em;
}

.hero .description {
    font-size: 1.5em;
    padding: 0 1em;
}

.hero .button {
    height: 20px;
    min-width: 150px;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    background-color: #4682b4;
    border-radius: 1000px;
    color: white;
}

.hero.button:hover {
    background-color: #569fdb;
}

.section-header {
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
}

.section-header span {
    position: relative;
    max-width: 80%;
    display: inline-block;
}

.section-header span::before {
    margin-right: 24px;
    right: 100%;
}

.section-header span::after {
    margin-left: 24px;
    left: 100%;
}

.section-header span::before,
.section-header span::after {
    display: block;
    width: 100vw;
    top: .75em;
    position: absolute;
    background: currentColor;
    margin-top: -1px;
    height: 1px;
    content: "";
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    float: left;
    margin: 0 1em;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social img {
    width: 48px;
}

footer {
    height: 50px;
    background-color: #1f2325;
}